{% extends 'base.html.twig' %}

{% block title %}Vente{% endblock %}

{% block body %}
    <h1>Vente</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vente.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ vente.reference }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ vente.date ? vente.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Create_at</th>
                <td>{{ vente.createAt ? vente.createAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vente_index') }}">back to list</a>

    <a href="{{ path('app_vente_edit', {'id': vente.id}) }}">edit</a>

    {{ include('vente/_delete_form.html.twig') }}
{% endblock %}
