{% extends 'base.html.twig' %}

{% block title %}VenteArticle{% endblock %}

{% block body %}
    <h1>VenteArticle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vente_article.id }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ vente_article.prix }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ vente_article.quantite }}</td>
            </tr>
            <tr>
                <th>Montant</th>
                <td>{{ vente_article.montant }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_vente_article_index') }}">back to list</a>

    <a href="{{ path('app_vente_article_edit', {'id': vente_article.id}) }}">edit</a>

    {{ include('vente_article/_delete_form.html.twig') }}
{% endblock %}
